@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@font-face {
  font-family: "Ribeye Marrow";
  src: url("../../fuentes/ribeyemarrow-regular-webfont.woff") format("woff"),
    url("../../fuentes/ribeyemarrow-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Lobster";
  src: url("../../fuentes/lobster-regular-webfont") format("woff"),
    url("../../fuentes/lobster-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Just Another Hand";
  src: url("../../fuentes/justanotherhand-regular-webfont.woff") format("woff"),
    url("../../fuentes/justanotherhand-regular-webfont.woff2") format("woff2");
}

body {
  background-color: #cbac4d;
}

h1 {
  font-family: "Ribeye Marrow", cursive;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

p.intro {
  margin-left: 30%;
  margin-right: 30%;
  font-family: sans-serif;
  line-height: 200%;
  text-align: justify;
}

strong {
  font-weight: bold;
}

cite {
  text-decoration: underline;
}

p.latin {
  margin: 0;
  font-family: "Lobster", sans-serif;
  font-size: 2.5rem;
}

p.espanol {
  margin: 0;
  color: white;
  font-family: "Just Another Hand", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 1px;
  text-align: right;
}

p.otraletra_espanol {
  margin: 0;
  color: white;
  font-family: 'Russo One', sans-serif;
  font-size: 3.5rem;
  letter-spacing: 1px;
  text-align: right;
}

.intro {
  margin-left: 30%;
  margin-right: 30%;
}

.latin {
  text-align: left;
  font-family: "Lobster", cursive;
}

.espanol {
  text-align: right;
  font-family: "Just Another Hand", cursive;
}

.otraletra_espanol{
  text-align: right;
}

