body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    "Arial", "Helvetica";
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    "Times", serif;
  color: #1f497d;
  background-color: #bfbfbf;
  font-size: 24px;
  letter-spacing: 0.5em;
  word-spacing: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    "Times", serif;
  color: #632423;
  font-size: 18px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

ul {
  font-style: italic;
  font-weight: bold;
}

li strong {
  font-variant: small-caps;
}

body{
    background: url('../img/img.jpg');
    background-position: right;
    background-repeat: repeat-y;
}
