.infancia{
color: ;
font-family: ;
font-style: italic;
}

.animales{
color:;
font-style: ;
}

.literatura{
color: ;
font-style: ;
font-size: ;
}

.numeros{
color: ;
font-family: ;
}

body{
  background-color: ;
  font-family: ;
}

h1{
font-size: ;
text-transform: ;
}

p{
font-size: ;
}
