
body {
  background-color: #2d8652;
}

h1 {
  font-size: 55px;
  text-transform: capitalize;
}

p {
  font-size: 25px;
}

.infancia {
  color: white;
  font-family: serif;
  font-style: italic;
}

.animales {
  color: #FFDFB3;
  font-family: sans-serif;
}

.literatura {
  font-family: monospace;
  color: #FF9F1A;
  font-size: x-large;
}

.numeros {
  font-family: cursive;
  color: #C92A4D;
}
