/* CSS styles */
body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  color: white;
  font-size: 2rem;
  padding: 1rem;
  text-align: right;
  background-color: black;
}

h3{
  text-align: center;
  padding: 2px;
}

section{
  width: 100%;
  display: inline-flex;
}

article{
  width: 100vh;
  padding: 5px;
  text-align: justify;
}

img{
  width: 95%;
  padding: 5px;
}

article:nth-child(1){
  background-color: #80BCBC;
}

article:nth-child(2){
  background-color: #B6EBB3;
}

article:nth-child(3){
  background-color: #B9CEE3;
}
      
@media all and (width: 500px){
  section{
    flex-direction: column;
  }
}