p.none{
    background-color: #FFDDDD;
    border-left: 5px solid red;
    padding: 20px 10px 20px 10px;
}

p.dotted{
    background-color: #DCFEDC;
    border-left: 5px solid green;
    padding: 20px 10px 20px 10px;
}

p.dashed{
    background-color: #E7F3FE;
    border-left: 5px solid blue;
    padding: 20px 10px 20px 10px;
}

p.solid{
    background-color: #FFFFCC;
    border-left: 5px solid yellow;
    padding: 20px 10px 20px 10px;
}

p.double{
    border-bottom: 5px solid red;
    padding: 20px 10px 20px 10px;
}

p.groove{
    border: 5px solid lightgray;
    border-radius: 25px;
    padding: 20px 10px 20px 10px;
}

p.outset{
    background-color: #DCFEFE;
    border-left: 5px solid blue;
    padding: 20px 10px 20px 10px;
}