#cabecera {
  color: white;
  background-color: grey;
  margin-bottom: 5px;
  width: 400px;
}

#cuerpo {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: lightgray;
  width: 400px;
}

#pie {
  margin-top: 5px;
  background-color: grey;
  color: yellow;
  width: 400px;
}
