ul{
    list-style-type: none;
    padding: 0;
}

li{
    background-color: blue;
    color: white;
    margin: 4px;
    width: 140px;
    text-align: center;
    padding: 3px;
}

li:hover{
    border: 3px solid;
    border-color: red;
}

a:link{
    color: white;
}