h1{
    border-bottom: 2px solid blue;
}

h2{
    border: 2px solid grey;
}

ul.datos{
    border-top: 4px dotted red;
    border-bottom: 4px dotted red;
}

ul.contenido{
    border: 2px dotted green;
}