html {
  background-color: lightgrey;
  text-align: center;
}

fieldset{
    background-color: white;
    font-size: 25px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.hijo{
    padding: 15px;
    background-color: white;
}

input{
    font-size: 20px;
}



.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

#informacion {
  font-size: 20px;
  color: red;
}
